.details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &__figure {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__image {
    width: auto;
    height: 300px;
  }
  &__description {
    flex: 1;
  }
}
